<div id="box">
  <div class="block" id="block-login">
    <h2>Авторизация</h2>
    <div class="content login">
      <% form_tag session_path,  :class => "form login" do -%>
        <div class="group wat-cf">
          <div class="left">
            <label class="label right">Логин</label>
          </div>
          <div class="right">
            <%= text_field_tag 'login', nil, :class => "text_field" %>
          </div>
        </div>
        <div class="group wat-cf">
          <div class="left">
            <label class="label right">Пароль</label>
          </div>
          <div class="right">
            <%= password_field_tag 'password', nil, :class => "text_field" %>
          </div>
        </div>
        <div class="group navform wat-cf">
          <div class="right">
            <button class="button" type="submit">
              <img src="/images/key.png" alt="Save" /> Войти
            </button>
          </div>

        </div>
      <% end -%>
    </div>
  </div>
</div>
