<% content_for :content do %>

  <div class="post">
    <h1 class="title"><%= @article.title %></h1>
    <div class="entry">
      <%= @article.article %>

    </div>
    <div class="meta">
      <p class="byline"><%= @article.created_at.strftime("%d %B %Y") %></p>

    </div>
  </div>

<% end %>
<% content_for :sidebar do %>
  <%= link_to "Назад", admin_articles_path %>

<% end %>
