<div class="post">
  <h1 class="title"><%= @article.title %></h1>
  <div class="entry">
    <%= @article.article %>

  </div>
  <div class="meta">
    <p class="byline"><%= l(@article.created_at, :format => :my) %></p>
    <p class="links"><%= link_to_remote "Назад", :url => {:action => 'index'}, :method => :get %></p>
  </div>
</div>
