<% form_for @meny_item, :url => { :action => 'update'} do |f|%>
  <%= f.error_messages %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.submit "Создать" %>
<%end%>