<% content_for :title do %>
  Харон.О нас
<% end %>
<% content_for :header do %>
  <h1 class="title">Информация о компании</h1>
<% end %>
<% content_for :content do %>
  <% @company_informations.each do |company_information| %>
    <%= company_information.information %>
  <%end%>
<% end %>
<% content_for :sidebar do %>
  <%= render :partial => "shared/tree_for_users" %>

  <div id="product_data" style="float:left;width:75%">
  </div>
  <div style="clear:both;"></div>

  <div id="edit_product">

  </div>
<% end %>
