<% content_for :content do %>

  <div class="post">
    <h1 class="title"><%= @article.title %></h1>
    <div class="entry">
      <%= @article.article %>

    </div>
    <div class="meta">
      <p class="byline"><%= @article.created_at.strftime("%d %B %Y") %></p>

    </div>
  </div>

<% end %>
<% content_for :sidebar do %>

  <%= render :partial => "shared/tree_for_users" %>

  <div id="product_data" style="float:left;width:75%">
  </div>
  <div style="clear:both;"></div>

  <div id="edit_product">

  </div>
<% end %>



