<% title "О нас" %>

<span style="float: right;"><%= link_to "Добавить инофрмацию о компании", new_admin_company_information_path %></span>

<% for company_information in @company_informations %>

  <%= company_information.information %>
  <div style="float: right; margin-bottom: 20px;">
    <%= link_to "Редактировать", edit_admin_company_information_path(company_information) %>
    <%= link_to "Удалить", admin_company_information_path(company_information), :confirm => 'Вы уверены?', :method => :delete %>
  </div>
<% end %>



