<div id="admin_sidebar">
  <%= render :partial => "shared/full_tree" %>
</div>
<div id="content" style="width: 670px; border: none;">
  <div id="product_data" style="float:left;width:100%">
  </div>
  <div style="clear:both;"></div>

  <div id="edit_product">

  </div>
</div>